*.class
*.log

/input/

/RS_R_s3bucket_output/
/REP_R_s3bucket_output/
/REPD_s3bucket_output/
/RSD_s3bucket_output/
/RSR_s3bucket_4x/
/RSD_s3bucket_4x/
/REPD_s3bucket_4x/
/REPR_s3bucket_4x/
/RSR_s3bucket_7x/
/RSD_s3bucket_7x/
/REPR_s3bucket_7x/
/REPD_s3bucket_7x/
/FollowerCount_output/